.place__title{
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  min-width: 460px;
  max-width: 460px;
  max-height: 152px;
  margin: 0 0 48px;
}

@media screen and (max-width: 1024px){
  .place__title{
    max-width: 440px;
    min-width: 440px;
  }
}

@media screen and (max-width: 927px){
  .place__title{
    max-width: 340px;
    min-width: 340px;
    max-height: 46px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 699px){
  .place__title{
    max-width: 288px;
    min-width: 288px;
    max-height: 35px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 32px;
  }
}
