.footer__copyright{
  margin: 0 0 0 auto;
  max-width: 200px;
  max-height: 18px;
  flex: 50%;
}

@media screen and (max-width: 767px){
  .footer__copyright{
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 520px){
  .footer__copyright{
    max-height: 14px;
  }
}
