.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  max-width: 560px;
  max-height: 152px;
  z-index: 2;
  margin: 245px 0 0;
}

@media screen and (max-width: 970px) {
  .cover__title{
    margin: 195px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__title{
    margin: 115px 0 0;
  }
}

@media screen and (max-width: 530px) {
  .cover__title {
    margin: 33px 0 0;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    max-height: 70px;
  }
}
