@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__link/_margin/footer__link_margin_left.css);
@import url(./__copyright/footer__copyright.css);

.footer {
padding: 92px 48px 24px 48px;
max-width: 1184px;
max-height: 332px;
display: flex;
margin: 0;
flex-wrap: wrap;
}

@media screen and (max-width: 1020px){
  .footer{
    max-width: 928px;
  }
}

@media screen and (max-width: 767px){
  .footer{
    max-width: 720px;
    padding: 92px 24px 24px 24px;
    flex-direction: column;
  }
}

@media screen and (max-width: 520px){
  .footer{
    max-height: 500px ;
    padding: 32px 118px 24px 16px;
    max-width: 300px;
  }
}


