.footer__list-item{
  list-style-type: none;
  padding: 0;
  max-width: fit-content;
  margin-left: 18px;
}

.footer__list-item:first-child{
  margin-left: 0;
}

.footer__list-item:hover {
  opacity: 0.8;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 526px){
  .footer__list-item{
    margin-top: 32px;
    margin-left: 0;
  }
}
